.container-background {
  background-image: url("./svg/home.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh; /* Full viewport height */
  background-color: #ffdfb9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center; /* Align background image to the top and center horizontally */
  /* margin-top: -7%; Adjust this value to move the background image upwards */
  margin-top: -110px;
  z-index: 1; /* Ensure the background is below the navbar */
}

.container {
  color: white;
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.starting-title {
  font-size: 53px;
  font-family: "Great Vibes", cursive;
}

.starting-description {
  margin-top: -15px;
  font-size: 28px;
  font-family: "Great Vibes", cursive;
}

.starting-button {
  padding-top: 290px;
  color: white;
  background-color: transparent;
  font-size: 25px;
  font-weight: 200;
}

.starting-button:hover {
  color: white;
  background-color: transparent;
  font-size: 25px;
}
