/* main.css */
body {
  margin: 0;
  font-family: "Crimson Text", serif;
  background-color: #fff5e1;
  overflow-y: auto;
}

/* header-footer.css */
.custom-navbar {
  background-color: transparent;
  position: relative;
  padding: 30px 0;
  text-align: center;
  background-image: url("./svg/header.svg");
  background-size: cover;
  height: 100px;
  background-repeat: no-repeat;
  background-position: bottom;
  font-family: "Crimson Text", serif;
}

.navbar-nav .nav-item {
  margin: 0 15px;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-link {
  color: #794b2a !important;
  text-decoration: none;
  font-size: 20px;
  margin: 0 35px;
  font-weight: 500;
  margin-bottom: 5px;
}

.nav-link:hover {
  color: #321f11 !important;
}

.nav-link-small {
  font-size: 17px; /* Adjust this value to make the font size smaller */
  color: #794b2a !important;
}

.nav-link-small:hover {
  color: #321f11 !important;
}

.small {
  padding-top: 12px;
  margin-right: 35px;
}

/* starting.css */
.container-background {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  margin-top: -6%;
  z-index: 1;
  /* background-image: url("./svg/home.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  min-height: 105vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -70px;
  z-index: 1;
  overflow-y: auto; */
}

.butler-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: flex-baseline;
  gap: 5%;
  margin-top: 20px;
}
/* 280:381 = 320:435 */
.butler-1,
.butler-2 {
  /* width: 280px; */
  /* height: 381px; */
  width: 320px;
  height: 435px;
  margin-top: -42%;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 1s ease;
}
.butler-1 {
  background-image: url("./svg/butler-1.svg");
}

.butler-2 {
  background-image: url("./svg/butler-2.svg");
}

.home-container {
  color: white;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Great Vibes", cursive;
}

.starting-title {
  font-size: 65px;
}

.starting-description {
  margin-top: -15px;
  font-size: 40px;
}

.starting-button {
  padding-top: 310px;
  color: white;
  opacity: 0.5;
  background-color: transparent;
  font-size: 30px;
  font-weight: 100;
  margin-top: -38%;
  font-family: "Crimson Text", serif;
}

.starting-button:hover {
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.about-us {
  background: rgb(170, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(170, 0, 0, 1) 0%,
    rgba(170, 0, 0, 1) 20%,
    rgba(218, 138, 127, 1) 61%,
    rgba(255, 245, 225, 1) 100%
  );
  margin-top: -20px;
  height: 200vh;
  color: white;
  text-align: center;
  display: none; /* Initially hidden */
  position: relative;
}

.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  padding: 5px;
  background-color: white;
  border-radius: 50%;
  border-color: transparent;
  color: #d2992a;
  cursor: pointer;
}

/* .scroll-top-btn:hover {
  background-color: #D2992A;
} */

/* type_test.css */

.question-background {
  background-image: url("./svg/question-background.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 105vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  margin-top: -120px;
  z-index: 1;
}

.btn {
  padding: 10px;
  border: none;
  cursor: pointer;
}

#questionContainer {
  background-image: url("./svg/question-container.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 250px;
  height: 65%;
  width: 100%;
  position: relative;
  font-family: "Crimson Text", serif;
  text-align: center;
}

.question {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  font-weight: 600;
  font-size: 30px;
}

.options-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.options-btn {
  margin-top: 20px;
  font-size: 26px;
  font-weight: 400;
  padding: 20px 30px;
  border-radius: 30px;
  border-color: transparent;
  width: 30%;
  height: auto;
  margin-left: 10px;
}

.options-btn.selected {
  background-color: #ffda92;
  border-color: transparent;
}

.options-btn.unselected {
  background-color: #fff5e1;
  border-color: transparent;
}

.button-container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.test-btn {
  background-color: transparent;
  color: #a97754;
  border-color: transparent;
  font-size: 20px;
  position: relative;
  cursor: pointer;
}

.test-btn:hover {
  color: #794b2a;
}

/* chat.css */
.chat-container {
  width: 100%;
  height: 80vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.chat-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.chat-bubble {
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  max-width: 70%;
  position: relative;
  word-wrap: break-word;
}

.chat-bubble::after {
  content: "";
  position: absolute;
  border-style: solid;
}

.chat-bubble.assistant {
  background-color: #e1ffc7;
  align-self: flex-start;
}

.chat-bubble.assistant::after {
  border-width: 10px 10px 10px 0;
  border-color: transparent #e1ffc7 transparent transparent;
  left: -10px;
  top: 10px;
}

.chat-bubble.user {
  background-color: #d1e7ff;
  align-self: flex-end;
  text-align: right;
}

.chat-bubble.user::after {
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #d1e7ff;
  right: -10px;
  top: 10px;
}

.chat-input {
  display: flex;
}

.chat-input input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.chat-input button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #0056b3;
}

.message img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
#splash-screen.hidden {
  display: none;
}
