.btn {
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(26, 39, 154);

}

.options-btn {
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 45%;
  margin-right: 10px;
}

.options-btn.selected {
  background-color: green;
}

.options-btn.unselected {
  background-color: rgb(192, 192, 192);
}

.individual-question-container {
  margin: 30px;
}

