{% extends 'base.html' %} {% block body %}
<div>

  <body>
    <div class="background-chat">
      <div id="splash-screen">
        <p data-i18n="loading"></p>
      </div>
      <div id="chat-content" style="display: none">
        <div class="container">
          <div class="chat-container">
            <div class="chat-box" id="chat-box"></div>
            <div class="chat-input input-group">
              <input type="text" id="user-input" class="" placeholder="In which matter may I be of service to you today?"
                required />
              <div class="input-group-append">
                <button type="submit" id="send-button">
                  <i data-lucide="arrow-up"></i>
                </button>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        lucide.createIcons();
      function assistantMessageUI(message){
        return `<div class="message-content assistant">
            <div class="chat-icon-container">
                <img src="../static/style/svg/chat-icon-assistant.svg" alt="Icon" class="chat-svg-icon">
            </div>
            <div class="chat-bubble assistant">
                ${message}
            </div>
        </div>`
      }

        // Splash screen
        document.addEventListener("DOMContentLoaded", function () {
          lucide.createIcons();
          fetch("/initialise_llm")
            .then((response) => response.json())
            .then((data) => {
              document.getElementById("splash-screen").classList.add("hidden");
              document.getElementById("chat-content").style.display = "block";
            });

          initialMessage = assistantMessageUI("My dearly Sir/Madam, it's a pleasure to serve you. How may I assist you today?");
          document.getElementById("chat-box").innerHTML += initialMessage;
        });

        function isValidUrl(string) {
          try {
            new URL(string);
            return true;
          } catch (_) {
            return false;
          }
        }

        const typeTestCompleted = localStorage.getItem("result");
        // let typeTestCompleted = true;

        function sendMessage() {
          // Check if the type test is completed before sending the message
          if (!typeTestCompleted) {
            alert(
              "You have not finished the type test, please finish the travel type test first"
            );
            window.location.href = "/type_test";
            return;
          }

          const userInput = document.getElementById("user-input").value;
          if (!userInput) return;
          document.getElementById("user-input").value = "";
          const chatBox = document.getElementById("chat-box");

          userMessage = `<div class="message-content user">
            <div class="chat-icon-container">
                    <img src="../static/style/svg/chat-icon-user.svg" alt="Icon" class="chat-svg-icon">
                </div>
                <div class="chat-bubble user">
                    ${userInput}
                </div>
            </div>`
          chatBox.innerHTML += userMessage;

          loadingMessage = `
              <div id="loadingMessage" class="message-content assistant">
                  <div class="chat-icon-container">
                      <img src="../static/style/svg/chat-icon-assistant.svg" alt="Icon" class="chat-svg-icon">
                  </div>
                  <div class="chat-bubble assistant">
                      My dearly Sir/Madam, please allow me to think...
                  </div>
              </div>
          `;
          chatBox.insertAdjacentHTML('beforeend', loadingMessage);
          const loadingMessageElement = document.getElementById('loadingMessage');

          chatBox.scrollTop = chatBox.scrollHeight;

          fetch("/get_response", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ user_input: userInput }),
          })
            .then((response) => response.json())
            .then((data) => {
              if (loadingMessageElement) {
                chatBox.removeChild(loadingMessageElement);
              }

              const aiResponse = data.ai_response;
              if (isValidUrl(aiResponse)) {
                aiImage = assistantMessageUI(`<img src="${aiResponse}" alt="AI Response Image">`);
                chatBox.innerHTML += aiImage
              } else {
                aiMessage = assistantMessageUI(aiResponse);
                chatBox.innerHTML += aiMessage;
              }
              chatBox.scrollTop = chatBox.scrollHeight;
            })
            .catch((error) => {
              console.log(error);
              chatBox.removeChild(loadingMessageElement);
              errorMessage = assistantMessageUI(error);
              chatBox.innerHTML += errorMessage;
              chatBox.scrollTop = chatBox.scrollHeight;
            });
        }

        function markTypeTestComplete() {
          typeTestCompleted = true;
        }

        document
          .getElementById("send-button")
          .addEventListener("click", function (event) {
            event.preventDefault();
            sendMessage();
          });

        document
          .getElementById("user-input")
          .addEventListener("keydown", function (event) {
            if (event.key === "Enter") {
              event.preventDefault();
              sendMessage();
            }
          });
      </script>
  </body>
</div>
{% endblock %}